/* Estilos gerais */

html{
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

/* Estilos do header */

.header{
    background-color: #731D1D;
    color: #ffffff;
    margin: auto;
    position: fixed;
    z-index: 999;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    padding: .3rem .3rem;
    width: 100%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header_logo{
    width: 4em;
    height: auto;
    margin: .5em;
}

.header_nav{
    background-color: #731D1D;
    display: none;
}


.header_nav.show {
    display: block;
}


.header_nav ul{
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    list-style-type: none;
}


.header_nav a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
}


.header_nav a:hover{
    background-color: #F9BAAE;
}

#hamburguer{
    background-color: #F9BAAE;
    color: #731D1D;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor:pointer;
    font-size: 2em;
    border-radius: 0.125em;
}


/* Estilos do main */

.sobre{
    text-align: justify;
}

#sobre {
    display: none; 
    text-align: justify;
}

.collapse{
    padding-top: 6em;
}

.container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}


.main_content_title{
    padding-top: 4em;
    padding-bottom: 0.7em;
    color: #400F0F; 
    font-size: 2.18em;
    line-height: 1.3em;
    font-weight: bold;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

p{
    font-family:'Mooli';
}

.paragrafo{
    text-align:justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Estilos da section - */


.apresentacao {
    margin-top: 2rem;
  }

.apresentacao h2{
    color: #400F0F; 
    font-size: 3.18em;
    font-weight: 700;
    line-height: 1.3em;
    
}

.apresentacao .text h4{
    color:#400F0F;
    font-size: 1.75em;
    font-weight: 500;
}


.apresentacao .text .rule{
    width: 0.625rem;
    height: 0.063rem;
    background-color: #731D1D;
    margin-right: 0.625rem;
    
}


.apresentacao p{
    color:black;
    margin: 0.938rem 0rem 1.875rem;
}


.apresentacao button{
    padding: 0.625rem 1.875rem;
    background-color: transparent;
    border: .0625em solid #070707;
    color: #731D1D;
    font-weight: 300;
    position: relative;
    transition: .5s ease-in-out all;
    z-index: 900;
    
}


.apresentacao button i{
    margin-left: 0.3em;
    
}


.apresentacao button:before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: #F2B2AC;
    transition: .5s ease-in-out all;
}


.apresentacao button:hover{
    color: #ffffff;
    font-weight: 500;
}

.apresentacao button:hover:before{
    right: 0;
    z-index: -1;
}


.we-img img{
    border: 1em solid #F2B2AC;
    margin-top: 1rem;
}

img{
    width: 60%;
  
    
}


.profile-image {
    max-width: 70%; 
}


.we-img{
    text-align: center;
}


.video-container {
    max-width: 100%; 
    text-align: center;
    margin-top: 2em;
    height: 60vh;
}

iframe{
    max-width: 100%;
    height: 100%;
}

.visualizar{
    text-decoration: none;
    color: #7c0000;
    font-weight: bold;
}

#carroseljornada {
    max-width: 62em; 
    margin: 0 auto;
    margin-top: 2em;
    display: flex;

}

.carousel-item {
    height: 18.75em;
}



.container_card {
    display: flex;
    flex-wrap: wrap;
    margin:2em;
}
  

.card{
    flex-basis: calc(30% - .9375em);
    margin: 0.5em;
    padding: 0.625em;
    display: flex;
    box-shadow: .3125em .3125em  .3125em .3125em #F2B2AC ; 
    
    
}

.card .card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.card .card-img-top:hover{
    transform: scale(1.1);
    transition: transform 0.8s ease-in-out;
}

.card .btn:hover{
    background-color: #ffffff;
    color: #0f0f0f;
}

.card .btn-primary {
    background-color: #F2B2AC; 
    border: .125em solid #400F0F; 
    color: #0D0D0D; 
}

.card .btn-secondary {
    background-color: #731D1D; 
    border: .125em solid #F2B2AC; 
    color: #F2E5E4; 
}


.card-body {
    text-align: center;
}

.container_skills {
    margin-right: auto;
    margin-left: auto;
    width: 80%
}

.skills .container_skills .cards {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.skills .container_skills .cards .box {
    position: relative;
    text-align: center;
    background-color: rgb(255, 250, 250);
    width: 8rem;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.3em solid #F2B2AC;
    border-radius: .3125em;
    cursor: pointer;
    transition: 0.2s;
    flex-shrink: 0; 
}

.skills .container_skills .cards .box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight:400;
    color:#490101;
    margin-bottom: 1.5rem
}

.skills .container_skills .cards .box img {
    width: 2.7rem;
}

.skills .container_skills .cards .box::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: -0.1rem;
    left: 0
}

.skills .container_skills .cards .box:hover {
    transform: scale(1.1)
}

.container_lista {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

ul.list-group {
    list-style-type: square; 
   
}

.list-group{
    margin: 1em 5em;
}

.item{
    margin-bottom: 1em;
}


article {
    display: flex;
    align-items: center;
    margin: 1em 2em;
}


.icon-container {
    margin-right: 1.625em; 
}

.text-container {
    flex-grow: 1; 
    text-align:left;
}

.config-img {
    width: 3.5em;
}


h5 {
    font-size: 1.125em; 
    margin: 0; 
}


.contact-button{
    display: inline-block;
    background-color:#490101;
    color: #fcfcfc;
    padding: .625em 1.25em;
    border-radius: 0.3125em;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
   
}

.contact-button:hover {
    background-color: #F2B2AC;
    color:#490101;
}

.icon {
    margin-right:  0.3125em;
}

.flex-list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* Estilos do footer */
footer {
    background-color: #F2F2F2;
    color: #2b1010;
    text-align: center;
    padding: 1.5em;
    width: 100%;
    margin:0;
}

.logos_footer{
    gap: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 0.6em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.tamanho{
    width: 4em;
}

/* Estilos Onpage responsiva menor que 576px */

@media screen and (min-width: 576px) {
    
   
    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        background-color: #731D1D;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header_logo{
        margin-left: 2em;
        
    }


    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li{
        display: inline-block;
       
    }

    .header_nav a{
        border-radius: .3125em;
    }

    .header_nav a:hover{
        background-color: #F9BAAE;
        color: #000000;
    }


    .container {
        width: 100%;
        padding: 1em;
    }

    .main_content_title{
        padding-left: 2em;
    }
    
    .video-container{
        width: 100%;
    }
    
    
    .logos_footer{
        justify-content: center;
        gap:1.5em;
    }


    .contact-button{
    justify-content: center;
    }

    .skills .container_skills h2{
        margin-bottom:5rem;
    }

    .skills .cards .box{
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .we-img{
        align-items:end;
    }

    .order-md-1{
        order: 2; 
    }
    .order-md-2{
        order: 1; 
    }
    
    .container_card{
        flex-direction: row;
    }

    .card{
        flex-basis: calc(33.33% - 1.125em);
    }
   

    article {
        flex-direction: row; 
    }

    .icon-container {
        margin-right: 1.25em; 
    }

    .flex-list{
        flex-direction: row;
    }

}