/* Estilos gerais */
body {
    font-family:crossorigin;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Estilos do header */

.header{
    background-color: #731D1D;
    color: #fffffffb;
    padding: .3rem .3rem;
    margin: auto;
    position: sticky;
    top:0;
    z-index: 999;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
}

.header_logo{
    width: 3.5em;
    height: auto;
    padding-bottom: .4em;
    padding-top: .4em;
    
}

.header_nav{
    background-color: #731D1D;
    display: none;
}


.header_nav.show {
    display: block;
}

.header_nav ul{
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
    list-style-type: none;
}

ul{
    margin: 0;
}

.header_nav a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
}

.header_nav a:hover{
    background-color: #f2e5e446;
}

#hamburguer{
    background-color: #F9BAAE;
    color: #731D1D;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor:pointer;
    font-size: 2em;
    border-radius: 2px;
}
.sobre{
    text-align: justify;
}
#sobre {
    display: none; 
    text-align: justify;
}

/* Estilos do main */


.container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_content{
    background-color: #e1d9d9;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 2em;

}
.main_content_title{
    padding-top: 3em;
    padding-bottom: .3em;
    color: #400F0F; 
    font-size: 2.18em;
    line-height: 1.3em;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 2em;
}
.paragrafo{
    text-align:justify;
    margin: auto;
    width: 90%;
}

/* Estilos da section - */

section {
    height: 90vh; /* Cada seção ocupa toda a altura da janela de visualização */
}

.home_section{
    padding: 4rem 4rem;
    background-color: #F2E5E4;
    justify-content: center;
    align-items: center;
    display: flex;
    
}


.apresentacao h2{
    color: #400F0F; 
    font-size: 3.18em;
    font-weight: 700;
    line-height: 1.3em;
    
}

.apresentacao .text h4{
    color:#400F0F;
    font-size: 28px;
    font-weight: 500;
}


.apresentacao .text .rule{
    width: 0.625rem;
    height: 0.063rem;
    background-color: #731D1D;
    margin-right: 0.625rem;
    
}


.apresentacao p{
    color:black;
    margin: 0.938rem 0rem 1.875rem;
}


.apresentacao button{
    padding: 0.625rem 1.875rem;
    background-color: transparent;
    border: 1px solid #070707;
    color: #731D1D;
    font-weight: 300;
    position: relative;
    transition: .5s ease-in-out all;
    z-index: 900;
}


.apresentacao button i{
    margin-left: 0.3em;
}


.apresentacao button:before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: #F2B2AC;
    transition: .5s ease-in-out all;
}


.apresentacao button:hover{
    color: #ffffff;
    font-weight: 500;
}

.apresentacao button:hover:before{
    right: 0;
    z-index: -1;
}


.we-img img{
    border: 1em solid #F2B2AC;
}

img{
    width: 60%;
    
}

.legenda{
    color: #400F0F;
    background-color: #F2B2AC; 
    display: inline;
    padding: 0.125rem;
    border-radius: 10px;
}

.detalhes{
    color: #400F0F;
}


.video-container {
    max-width: 80rem; /* Largura máxima do contêiner */
    text-align: center;
    margin-top: 2em;
    height: 60vh;
}


iframe{
    max-width: 100%;
    height: 100%;
}

#carroselprojetos {
    max-width: 900px; 
    margin: 0 auto;
    margin-top: 2em;
    height: 50vh;
    display: flex;
    
}

.carousel-inner {
    max-width: 100%; /* Defina a largura máxima para ocupar todo o espaço disponível */
}

.carousel-item img {
    max-width: 100%; /* Imagens do carrossel ocupam toda a largura disponível */
    height: 100%; /* Mantenha a proporção original da imagem */
    
}


.container_skills {
    margin-right: auto;
    margin-left: auto;
    width: 80%
}

.skills .container_skills .cards {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.skills .container_skills .cards .box {
    position: relative;
    text-align: center;
    background-color: rgb(255, 250, 250);
    width: 8rem;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.3em solid #F2B2AC;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    flex-shrink: 0; /* Evita que os boxes sejam encolhidos */
}

.skills .container_skills .cards .box p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight:400;
    color:#490101;
    margin-bottom: 1.5rem
}

.skills .container_skills .cards .box img {
    width: 2.7rem;
}

.skills .container_skills .cards .box::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: -0.1rem;
    left: 0
}

.skills .container_skills .cards .box:hover {
    transform: scale(1.1)
}

/* Estilos do footer */
footer {
    background-color: #F2F2F2;
    color: #2b1010;
    text-align: center;
    padding: 2em;

}

.logos_footer{
    gap: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 0.6em;
    margin:0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.tamanho{
    width: 4em;
}

/* Estilos Onpage responsiva */

@media screen and (min-width: 576px){/* menor que 576px  */ 
    
    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        background-color: #731D1D;
        justify-content: space-between;
        align-items: center;
        
    }

    .header_logo{
        margin-left: 2em;
        
    }


    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: #e77ab6;
        color: #ffffff;
    }

    .video-container{
        max-width: 100%;
    }
    
    
    .logos_footer{
        justify-content: center;
        gap:1.5em;
    }
    
    section{
    height: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    }

    .skills .container_skills h2 {
        margin-bottom:5rem;
    }

    .skills .container_skills .cards .box{
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }

}